<div class="container">
  <table>
    <tr>
      <td>
        <h2>Simple Weapons</h2>
      </td>
    </tr>
    <tr>
      <td>
        Dagger
      </td>
      <td>
        1d4 Piercing
      </td>
      <td>
        Finesse, light, thrown
      </td>
    </tr>
    <tr class="offset, color">
      <td>
        Club
      </td>
      <td>
        1d4 Bludgeoning
      </td>
      <td>
        Light
      </td>
    </tr>
    <tr>
      <td>
        Greatclub
      </td>
      <td>
        1d8 Bludgeoning
      </td>
      <td>
        Two-handed
      </td>
    </tr>
    <tr class="offset, color">
      <td>
        Handaxe
      </td>
      <td>
        1d6 Slashing
      </td>
      <td>
        Light, Thrown
      </td>
    </tr>
    <tr>
      <td>
        Javelin
      </td>
      <td>
        1d6 Piercing
      </td>
      <td>
        Thrown
      </td>
    </tr>
    <tr class="offset, color">
      <td>
        Light Hammer
      </td>
      <td>
        1d4 Bludgeoning
      </td>
      <td>
        Light, Thrown
      </td>
    </tr>
    <tr>
      <td>
        Mace
      </td>
      <td>
        1d6 Bludgeoning
      </td>
      <td>

      </td>
    </tr>
    <tr class="offset, color">
      <td>
        Light Hammer
      </td>
      <td>
        1d4 Bludgeoning
      </td>
      <td>
        Light, Thrown
      </td>
    </tr>
    <tr>
      <td>
        Quarterstaff
      </td>
      <td>
        1d6 Bludgeoning
      </td>
      <td>
        Versatile (1d8)
      </td>
    </tr>
    <tr class="offset, color">
      <td>
        Sickle
      </td>
      <td>
        1d4 Slashing
      </td>
      <td>
        Light
      </td>
    </tr>
    <tr>
      <td>
        Spear
      </td>
      <td>
        1d6 Piercing
      </td>
      <td>
        Thrown, Versatile (1d8)
      </td>
    </tr>
    <tr>
      <td>
        <h2>Simple Ranged Weapons</h2>
      </td>
    </tr>
    <tr>
      <td>
        Crossbow, light
      </td>
      <td>
        1d8 Piercing
      </td>
      <td>
        Two-handed
      </td>
    </tr>
    <tr class="offset, color">
      <td>
        Dart
      </td>
      <td>
        1d4 Piercing
      </td>
      <td>
        Finesse, Thrown
      </td>
    </tr>
    <tr >
      <td>
        Shortbow
      </td>
      <td>
        1d6 Piercing
      </td>
      <td>
        Two-handed
      </td>
    </tr>
    <tr class="offset, color">
      <td>
        Sling
      </td>
      <td>
        1d4 Bludgeoning
      </td>
      <td>
  
      </td>
    </tr>
    <tr>
      <td>
        <h2>Martial Melee Weapons</h2>
      </td>
    </tr>
    <tr >
      <td>
        Battleaxe
      </td>
      <td>
        1d8 Slashing
      </td>
      <td>
        Versatile (1d10)
      </td>
    </tr>
    <tr class="offset, color">
      <td>
        Flail
      </td>
      <td>
        1d8 bludgeoning
      </td>
      <td>
  
      </td>
    </tr>
    <tr >
      <td>
        Glaive
      </td>
      <td>
        1d10 slashing
      </td>
      <td>
        Heavy, Reach, Two-handed
      </td>
    </tr>
    <tr class="offset, color">
      <td>
        Greataxe
      </td>
      <td>
        1d12 slashing
      </td>
      <td>
        Heavy, Two-handed
      </td>
    </tr>
    <tr >
      <td>
        Greatsword
      </td>
      <td>
        2d6 Slashing	
      </td>
      <td>
        Heavy, Two-handed
      </td>
    </tr>
    <tr class="offset, color">
      <td>
        Halberd
      </td>
      <td>
        1d10 slashing
      </td>
      <td>
        Heavy, Reach, Two-handed
      </td>
    </tr>
    <tr >
      <td>
        Lance
      </td>
      <td>
        1d12 piercing	
      </td>
      <td>
        Reach, Special
      </td>
    </tr>
    <tr class="offset, color">
      <td>
        Longsword
      </td>
      <td>
        1d8 Slashing
      </td>
      <td>
        Versatile (1d10)
      </td>
    </tr>
    <tr >
      <td>
        Maul
      </td>
      <td>
        2d6 Bludgeoning
      </td>
      <td>
        Heavy, Two-handed
      </td>
    </tr>
    <tr class="offset, color">
      <td>
        Morningstar
      </td>
      <td>
        1d8 Piercing
      </td>
      <td>
        
      </td>
    </tr>
    <tr >
      <td>
        Pike
      </td>
      <td>
        1d10 piercing
      </td>
      <td>
        Heavy, Reach, Two-handed
      </td>
    </tr>
    <tr class="offset, color">
      <td>
        Rapier
      </td>
      <td>
        1d8 Piercing
      </td>
      <td>
        Finesse
      </td>
    </tr>
    <tr >
      <td>
        Scimitar
      </td>
      <td>
        1d6 Slashing
      </td>
      <td>
        Finesse, Light
      </td>
    </tr>
    <tr class="offset, color">
      <td>
        Shortsword
      </td>
      <td>
        1d6 Piercing
      </td>
      <td>
        Finesse, Light
      </td>
    </tr>
    <tr >
      <td>
        Trident
      </td>
      <td>
        1d6 Piercing
      </td>
      <td>
        Thrown, Versatile (1d8)
      </td>
    </tr>
    <tr class="offset, color">
      <td>
        War pick
      </td>
      <td>
        1d8 Piercing
      </td>
      <td>

      </td>
    </tr>
    <tr >
      <td>
        Warhammer
      </td>
      <td>
        1d8 Bludgeoning
      </td>
      <td>
        Versatile (1d10)
      </td>
    </tr>
    <tr class="offset, color">
      <td>
        Whip
      </td>
      <td>
        1d4 Slashing
      </td>
      <td>
        Finesse, Reach
      </td>
    </tr>
    <tr>
      <td>
        <h2>Martial Ranged Weapons</h2>
      </td>
    </tr>
    <tr >
      <td>
        Blowgun
      </td>
      <td>
        1 Piercing
      </td>
      <td>
        Loading
      </td>
    </tr>
    <tr class="offset, color">
      <td>
        Crossbow, hand
      </td>
      <td>
        1d6 Piercing
      </td>
      <td>
        Light, Loading
      </td>
    </tr>
    <tr >
      <td>
        Crossbow, Heavy
      </td>
      <td>
        1d10 Piercing
      </td>
      <td>
        Heavy, Loading, Two-handed
      </td>
    </tr>
    <tr class="offset, color">
      <td>
        Longbow
      </td>
      <td>
        1d8 Piercing
      </td>
      <td>
        Heavy, Two-handed
      </td>
    </tr>
    <tr >
      <td>
        Net
      </td>
      <td>
        
      </td>
      <td>
        Special, Thrown
      </td>
    </tr>
  </table>
</div>